In [1]:
import pandas as pd #판다스 패키지 불러오기
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor #랜덤 포레스트 불러오기

In [2]:
# 데이터 불러오기
train = pd.read_csv('data/train.csv')# 모델 학습 파일
test = pd.read_csv('data/test.csv')# 모델 시험지 파일
submission = pd.read_csv('data/submission.csv')#답안지 파일

In [3]:
train['hour_bef_temperature'] = train['hour_bef_temperature'].fillna(value = train['hour_bef_temperature'].mean())
train_isna_sum = train.isna().sum()
train_isna_sum[train_isna_sum != 0].index
na_columns = train_isna_sum[train_isna_sum != 0].index
def fill_bicycle_na(df, column) :
    df[column] = df[column].fillna(value = df[column].mean())
fill_bicycle_na(train, 'hour_bef_precipitation')

In [4]:
for col in na_columns:
    fill_bicycle_na(train, col)
    print(col, '결측값 대체 완료')

hour_bef_precipitation 결측값 대체 완료
hour_bef_windspeed 결측값 대체 완료
hour_bef_humidity 결측값 대체 완료
hour_bef_visibility 결측값 대체 완료
hour_bef_ozone 결측값 대체 완료
hour_bef_pm10 결측값 대체 완료
hour_bef_pm2.5 결측값 대체 완료

In [5]:
test_isna_sum = test.isna().sum()
test_na_columns = test_isna_sum[test_isna_sum != 0].index
for col in test_na_columns:
    print(col)
for col in test_na_columns:
    fill_bicycle_na(test, col)
    print(col, '대체 완료')
test.isna().sum()

hour_bef_temperature
hour_bef_precipitation
hour_bef_windspeed
hour_bef_humidity
hour_bef_visibility
hour_bef_ozone
hour_bef_pm10
hour_bef_pm2.5
hour_bef_temperature 대체 완료
hour_bef_precipitation 대체 완료
hour_bef_windspeed 대체 완료
hour_bef_humidity 대체 완료
hour_bef_visibility 대체 완료
hour_bef_ozone 대체 완료
hour_bef_pm10 대체 완료
hour_bef_pm2.5 대체 완료

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
dtype: int64

In [7]:
from sklearn.neighbors import KNeighborsRegressor

In [8]:
column = ['hour', 'hour_bef_temperature']
X_train = train[column]
y_train = train['count']
X_test = test[column]

In [10]:
kn = KNeighborsRegressor()
kn.fit(X_train, y_train)
kn.score(X_train, y_train)

0.7986321898723823

In [12]:
predicted = kn.predict(X_test)

In [13]:
 submission["count"] = predicted

In [14]:
submission

       id  count
0       0  164.4
1       1  244.0
2       2  107.2
3       4  125.0
4       5  124.6
..    ...    ...
710  2148   76.0
711  2149   53.0
712  2165   97.8
713  2166  248.8
714  2177  107.0

[715 rows x 2 columns]

In [17]:
submission.to_csv("./submission.csv", index=False)